<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.popmoviesnd">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".presentation.movies.MoviesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.details.DetailActivity"
            android:parentActivityName=".presentation.movies.MoviesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.movies.MoviesActivity"/>
        </activity>

        <activity
            android:name=".presentation.trailer.TrailerActivity"
            android:parentActivityName=".presentation.details.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.details.DetailActivity"/>
        </activity>

        <activity
            android:name=".presentation.review.ReviewActivity"
            android:parentActivityName=".presentation.details.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.details.DetailActivity"/>
        </activity>

        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:parentActivityName=".presentation.movies.MoviesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.movies.MoviesActivity"/>
        </activity>

        <provider
            android:name=".data.local.MovieProvider"
            android:authorities="com.udacity.popmoviesnd.app"
            android:exported="false"/>

    </application>

</manifest>
